@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

* {
    font-family: 'SF Pro Display', sans-serif;

    a {
        text-decoration:  none;
        
    }
}
body {
    background-color: #f5f5f7;
    overflow-x: hidden;

    .userBtn {
      background-color: black;
      color: white;
    }
    
    
}

.user-settings-swipe {
  transform: translateY(12em);
  
  position: absolute; 
  
}

.user-settings-swipe-off {
  transform: translateY(-12em);
  
  position: absolute; 
  
}

.user-settings-hide {
  margin-top: -12em;
  z-index: 1;
  position: absolute;
  
}

.user-settings {
  
  height: 10em;
  width: 11em;
  background-color: black;
  position: absolute;
  margin-top: -2em;
  margin-left: 8em;
  border-radius: 1.5em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  

  button {
      color: white;
      background-color: black;
      
  }

  a {
      
      color: white;
      margin-left: 0.5em;
      
      
      
  }
}

#nav-izq {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  margin-top: -0.3em;

  .user-icon {
    margin-top: 1.2em;
    margin-right: 0.5em;
  }

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 200,
  'opsz' 48;
  color: white;
  
}

.nav-container {

    font-family: 'Poppins';
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 1em;
    padding-right: 7em;
    padding-left: 7em;
    
    
     nav {
      display: flex;
      justify-content: flex-end;
      align-content: center;
      
     }
  
  
    ul {
      display: flex;
      align-content: center;
      justify-content: space-between;
      
      
      li {
        margin-top: 1em;
        list-style: none;
        
      }
  
      a {
        font-size: 19px;
        color: white;
        margin-right: 3em;
        
      }
    }
  }

  main {
    
    padding: 6em;
    
  }

  .hero-cont {
    
    display: flex;
    gap: 100px;
    
    
  }

  
  @media (min-width: 1800px) {
    .hero-cont {
      margin-left: 6em;
    }

  }

  .cart-container::-webkit-scrollbar {
    display: none;
  }

   .cart-container{
    
    padding: 2em;
    width: 150vw;
    min-height: 60vh;
    max-height: min-content;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   }

   .header{
    margin: auto;
    margin-top: -1em;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .heading{
    font-size: 25px;
    
    font-weight: 700;
    color: #2F3841;
   }
   .remove{
    font-size: 14px;
    
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
   }

   .cart-items-cont {
    padding: 2emem;
    
    align-items: center;
    border-top: 1px solid rgb(224, 224, 224);
    margin-bottom: 15em;
    

    .item-image {
      width: 160px;   
      border-radius: 1.4em;
    }

    .title {
      
      font-size: 1.4em;
      font-weight: normal;
    }

    .subtitle {
      font-size: 0.9em;
    
    }

    .prices {
      
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: -0.5em;
      
      

      img {
        width: 20px;
        border: none;
        margin-left: 6em;
        margin-top: -1em;
        
        

        
        
      }

      p {
        font-weight: 500;
        font-size: 1.3em;
        
        
        
      }

      .cartRemoveItem {
        background-color: white;
        font-size: 14px;
    
        font-weight: 600;
        color: #E44C4C;
        cursor: pointer;
        text-decoration: underline;
        border:none;
        margin-top: -1em;
        margin-left: 2em;
        
        
      }
    }

    .cart-items-cont {
      display: flex;
      
    }

    .cart-items {
      
      display: flex;
      flex-direction: column;
    }

    .about {
      margin-top: 0.5em;
      min-width: 7em;
    }

    .items-inner-cont {
      display: flex;
      justify-content: space-around;
      border-bottom: 1px solid rgb(224, 224, 224);
      padding: 2.5em;
      
      

      h1{
        font-size: 1.35em;
        
      }



      

      
    }

    
    
   }

   .counter{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -1em;
    width: 90px;
    
    
    
    

    img {
      width: 20px;
      border: none;
    }

    .btn {
      width: 20px;
    }
    
    
   }
   
   .count{
    font-size: 15px;
    
    font-weight: 900;
    color: #202020;
    margin-left: 1.3em;
    margin-top: 0.2em;
    
   }

   .cart-subtotal {
    width: 80vw;
    border-radius: 2em;
    
    
  
    .cart-subtotal-left-cont {
      display: flex;
      flex-direction: column;
      

      .subtotal {
        font-size: 21px;
        margin-bottom: -0.2em;
        
        
      }

      .itemCount {
        font-size: 15px;
        
      }
    }

    .cart-subtotal-right-cont {
      margin-right: 1em;
      p {
        font-size: 21px;
        margin-right: -1em;
        
      }
    }

    .cart-subtotal-innercont {
      padding: 1em;
      margin-left: -0.5em;
      
      display: flex;
      justify-content: space-between;
      
      
    }

    .checkoutBtn {
      padding: 0.7em;
      border-radius: 0.7em;
      border: none;
      border-radius: 0.7em;
      color: white;
      background-color: #0d6efd;

    }

    .cart-subtotal-cont{
      padding: 2em;
      background-color: white;
      width: 400px;
      border-radius: 1em;
      display: flex;
      flex-direction: column;
      position: absolute;
      
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    }

    .subtotal-article {
      display: flex;
      justify-content: space-between;
      padding: 1.5em;
    }
   }

   .ship-options {
    padding: 0.5em;

    p {
      font-weight: bold;
    }
   }

   .ship-type {
    padding-bottom: 1em;
    border-bottom: 1px solid rgb(224, 224, 224);

    .ship-type-info {

      padding: 0.5em;
      label,input {
        margin-right: 0.5em;
      }
    }

    img {
      width: 15px;
      position: absolute;
      margin-left: 1em;
      margin-top: 0.28em;

      &:hover {
        cursor: pointer;
      }
    }
   }

   .direccion {
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    border-bottom: 1px solid rgb(224, 224, 224);
    
    margin-top: 1em;

    .direccion-info{
      padding: 0.5em;
    }

    input {
      background-color: transparent;
      border-radius: 0.5em;
      margin-left: 1em;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
    }

    .direccion-numero, .direccion-esquina {
      margin-top: 1em;
      
    }

   }

   .payment-method {
    margin-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid rgb(224, 224, 224);
    

    .credit-cards {
      padding: 0.5em;
      img {
        margin-right: 0.5em;
      }
    }

   }

   textarea:focus, input:focus{
    outline: none;
}



.editar-direccion {
  margin-top: 1em;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper-block {
  display: flex;
  flex-direction: column;
  a {
    margin-top: 0em;
  }
}

.resumen-pagos {
  padding: 1em;
  margin-left: -0.5em;
  margin-top: -2em;
  

  p {
    font-size: 15px;
  }


}



.total {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  
  h5 {
    font-weight: 600;
    font-size: 23px;
  }

  h4 {
    font-weight: 600;
    font-size: 23px;
  }
}

.addPayment {
  display: none;
  border: none;
  background: transparent;
  text-align: start;
  color: #0d6efd;
  
}


.checkout-cont {
  background-color: rgba(32, 32, 32, 0.712);
  
  width: 25em;
  height: 35em;
  position: absolute;
  position: fixed;
  top: 0;
  transform: translateY(20%);
  border-radius: 1.5em;
  
  
  
  
}

.checkout {
  
  display: none;
  justify-content: center;
  align-items: center;

}

.addPaymentBtn {
  padding: 0.5em;
  width: 8em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-radius: 0.7em;
  border: none;
  border-radius: 0.7em;
  color: white;
  background-color: #ffffffb0;
}

.payCancel {
  background-color: rgba(180, 47, 47, 0.781);
}

.payDone {
  color: black;
}

.payment-form {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  padding: 1em;

  .label {
      
    font-size: 0.9em;
  }

  .input {
    border-radius: 0.5em;
    background: rgb(255, 255, 255);
    width: 15em;
    margin-bottom: 0.5em;
  }

  

  button {
    padding: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border-radius: 0.7em;
    border: none;
    border-radius: 0.7em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 0.5s ease;
    background: #313131e8;
    color: white;

    &:hover {
      transform: scale(1.05);
    }
    

  }

  
  
}


.payOption-card {
  padding: 1em;
  
  
    
  .creditCard-name-div {
    margin-top: 2em;
    

  }
}

.payOption-bank {
  padding: 1em;
}



.chck-innercont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35em;
  padding: 2em;

  h3 {
    color: white;
    margin-top: 0.2em;
    width: 12em;
    margin-left: 0.5em;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    border-bottom: 3px solid white;
  }
  
  
  
}

.buttons {
  display: flex;
  justify-content: center;
  
  
  
}

.blurFilter {
  filter: blur(10px);
  pointer-events: none;
  
  
}

.chckShow {
  display: flex;
}

.hide {
  display: none;
}

.alert {
  color: rgb(218, 62, 62);
  position: unset;
  width: max-content;
  margin-top: 1em;
  margin-bottom: -1em;
  margin-left: 7.5em;
  text-align: start;
  
  padding: 0;
}

