@import url("http://fonts.cdnfonts.com/css/sf-pro-display");
* {
  font-family: "SF Pro Display", sans-serif;
}
* a {
  text-decoration: none;
}

#nav-izq {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  margin-top: -0.3em;
}
#nav-izq .user-icon {
  margin-top: 1.2em;
  margin-right: 0.5em;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 200, "opsz" 48;
  color: white;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 1em;
  padding-right: 7em;
  padding-left: 7em;
}
.nav-container nav {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.nav-container ul {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.nav-container ul li {
  margin-top: 1em;
  list-style: none;
}
.nav-container ul a {
  font-size: 19px;
  color: white;
  margin-right: 3em;
}

.cat-list-container {
  padding: 5em;
  display: grid;
  place-content: center;
  justify-items: center;
  gap: 50px;
  grid-template-columns: 400px 400px 400px;
}

.filter-container {
  margin-top: 1.5em;
  margin-bottom: -2.7em;
}

.cat-title {
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.cat-title .shop-cart {
  display: flex;
}
.cat-title .shop-cart-price {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-right: 5px;
}
.cat-title img {
  width: 40px;
  margin-right: 17em;
  transition: 0.5s;
}
.cat-title img:hover {
  width: 45px;
}
.cat-title h1 {
  color: black;
  font-size: 75px;
  margin-left: 3em;
  font-weight: bold;
}
.cat-title p {
  font-size: 50px;
  color: rgb(110, 110, 115);
}

.card {
  min-width: 400px;
  min-height: 460px;
  --card-gradient: rgba(0, 0, 0, 0.734);
  transition: 0.1s;
  --card-blend-mode: overlay;
  background-color: #fff;
  border-radius: 2em;
  box-shadow: rgba(0, 0, 0, 0.362) 0px 3px 8px;
  padding-bottom: 1rem;
  background-image: linear-gradient(var(--card-gradient), rgba(255, 255, 255, 0) max(9.5rem, 28vh));
  overflow: hidden;
}
.card .vendidos {
  color: rgb(141, 138, 138);
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  margin-top: -0.5em;
}
.card p {
  font-size: 1rem;
  transition: 0.5s;
}
.card:hover {
  cursor: pointer;
}
.card .card-cont {
  margin-top: -2.5em;
  padding: 1.8em;
}
.card img {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: max(10rem, 30vh);
  aspect-ratio: 4/3;
  mix-blend-mode: var(--card-blend-mode);
  transition: 0.5s;
}
.card img:hover {
  opacity: 100%;
}
.card img ~ * {
  margin-left: 1rem;
  margin-right: 1rem;
}
.card > :last-child {
  margin-bottom: 0;
}
.card:hover p, .card:focus-within p {
  font-size: 1rem;
}
.card:hover a, .card:focus-within a {
  font-size: 2.1rem;
  cursor: pointer;
}

/* Additional demo display styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display", sans-serif;
}

.card h3 {
  margin-top: -1em;
  font-size: 1.05rem;
}

.card a {
  color: inherit;
}

h3 a {
  transition: 0.5s;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: bold;
}

.card-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-container {
  margin-right: -11.5em;
  transform: scale(0.9, 0.9);
}
.filter-container .btn-group {
  margin-right: 2em;
}/*# sourceMappingURL=category.css.map */