@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Red+Hat+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
* a {
  text-decoration: none;
}
* .userBtn {
  background-color: black;
  color: white;
}

body {
  overflow-x: hidden;
}

.user-settings-swipe {
  transform: translateY(12em);
  position: absolute;
}

.user-settings-swipe-off {
  transform: translateY(-12em);
  position: absolute;
}

.user-settings-hide {
  margin-top: -12em;
  z-index: 1;
  position: absolute;
}

.user-settings {
  height: 10em;
  width: 11em;
  background-color: black;
  position: absolute;
  margin-top: -2em;
  margin-left: 8em;
  border-radius: 1.5em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.user-settings button {
  color: white;
  background-color: black;
}
.user-settings a {
  color: white;
  margin-left: 0.5em;
}

.nav-izq, nav {
  opacity: 0;
}

nav {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

#nav-izq {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  margin-top: -0.3em;
}
#nav-izq button {
  font-weight: 800;
}
#nav-izq .user-icon {
  margin-top: 1.2em;
  margin-right: 0.5em;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 200, "opsz" 48;
  color: white;
}

.nav-container {
  font-family: "Poppins";
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 1em 6.5em 1em 6.5em;
}
.nav-container nav {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.nav-container ul {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.nav-container ul li {
  margin-top: 1em;
  list-style: none;
}
.nav-container ul a {
  font-size: 17px;
  color: white;
  margin-right: 3em;
}

.cat-list-container {
  font-family: "SF Pro Display", sans-serif;
  margin-top: 4em;
  padding: 5em;
  display: grid;
  place-content: center;
  justify-items: center;
  gap: 50px;
  grid-template-columns: 400px 400px 400px;
  opacity: 0;
  transform: translateY(300px);
}

.primary-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.show-filter-btn {
  border: none;
  background: transparent;
  margin-top: 3em;
  margin-right: 1em;
  -webkit-clip-path: polygon(100% 100%, 100% 100%, 100% 0, 100% 0);
          clip-path: polygon(100% 100%, 100% 100%, 100% 0, 100% 0);
  opacity: 0;
}
.show-filter-btn img {
  width: 30px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.wrapper-column {
  display: flex;
  background: transparent;
  flex-direction: column;
}

.hide-div {
  height: 40px;
  width: 40px;
  background: black;
  position: absolute;
  z-index: 2;
  margin-left: -24em;
  margin-bottom: -2.5em;
  background-color: #f8f9fa;
  opacity: 100;
}

.filter-container {
  display: none;
  position: absolute;
  margin-left: -4em;
  margin-top: 6em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  border-radius: 1.3em;
  padding: 1.5em;
  padding-right: 1em;
  padding-left: 1em;
  transform: scale(0.75);
  opacity: 0;
  transition: 0.2s ease;
  z-index: 9;
}
.filter-container .inner-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-container input {
  margin-right: 1em;
  width: 150px;
  background-color: white;
  border: none;
}
.filter-container .btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-container button {
  background: transparent;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cont-search {
  box-shadow: rgba(99, 99, 90, 0.2) 0px 2px 6px 0px;
  border-radius: 0.8em;
  margin-top: 3em;
  opacity: 0;
}

.search {
  font-family: "SF Pro Display", sans-serif;
  background-color: white;
  padding: 0.2em 1em 0.2em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8em;
  width: 369px;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(100px);
}
.search img {
  width: 20px;
}
.search input {
  border: none;
  width: 295px;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-right: 1em;
}
.search input:focus {
  outline: none;
}

.order {
  font-family: "SF Pro Display", sans-serif;
  font-weight: bold;
  margin-right: 8vw;
  display: flex;
  right: 0;
  flex-direction: column;
  margin-top: 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 15px;
  position: absolute;
  z-index: 2;
}
.order img {
  width: 10px;
  transition: 0.2s;
}
.order a {
  color: black;
  font-weight: 400;
}
.order a:hover {
  font-weight: 500;
}

.drop-arrow-flip {
  transform: scaleY(-1);
}

.dropdown-content {
  display: none;
  z-index: 2;
}

.a-container {
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: white;
  border-radius: 1em;
  width: 183px;
  display: flex;
  flex-direction: column;
  margin-left: 5em;
  position: absolute;
}
.a-container a {
  padding: 0.5em;
}
.a-container a:hover {
  font-weight: bold;
}

.dropbtn {
  border: 0px;
  background-color: #f5f5f7;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.content-bar {
  padding: 2em 10em 2em 10em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.content-bar img {
  width: 40px;
}
.content-bar h1 {
  color: black;
  font-size: 75px;
  font-weight: bold;
  transform: translateY(-200px);
  opacity: 0;
}
.content-bar p {
  font-size: 50px;
  color: rgb(110, 110, 115);
}
.content-bar .cart-img {
  width: 40px;
  opacity: 0;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}
.content-bar .show-filter-btn {
  border: none;
  background: transparent;
  -webkit-clip-path: polygon(0 100%, 0 100%, 0 0, 0 0);
          clip-path: polygon(0 100%, 0 100%, 0 0, 0 0);
  opacity: 0;
  transform: translateY(100px);
}

.card {
  min-width: 400px;
  min-height: 460px;
  --card-gradient: rgba(0, 0, 0, 0.734);
  transition: 0.1s;
  --card-blend-mode: overlay;
  background-color: #fff;
  border-radius: 2em;
  box-shadow: rgba(0, 0, 0, 0.362) 0px 3px 8px;
  padding-bottom: 1rem;
  background-image: linear-gradient(var(--card-gradient), rgba(255, 255, 255, 0) max(9.5rem, 28vh));
  overflow: hidden;
}
.card .vendidos {
  color: rgb(141, 138, 138);
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  margin-top: -0.5em;
}
.card p {
  font-size: 1rem;
  transition: 0.5s;
}
.card:hover {
  cursor: pointer;
}
.card .card-cont {
  margin-top: -2.5em;
  padding: 1.8em;
}
.card img {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: max(10rem, 30vh);
  aspect-ratio: 4/3;
  mix-blend-mode: var(--card-blend-mode);
  transition: 0.5s;
}
.card img ~ * {
  margin-left: 1rem;
  margin-right: 1rem;
}
.card > :last-child {
  margin-bottom: 0;
}

/* Additional demo display styles */
* {
  box-sizing: border-box;
}

.card h3 {
  margin-top: -1em;
  font-size: 1.05rem;
}

.card a {
  color: inherit;
}

h3 a {
  transition: 0.5s;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: bold;
}

.card-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer {
  margin-top: 10em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  opacity: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
footer .social {
  width: 15px;
  margin: -1.5em -2.5em auto 3em;
}
footer img {
  width: 300px;
}
footer p {
  color: #6F6F6F;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  margin-bottom: 1em;
  margin-right: -3em;
}

#open-ham-menu {
  display: none;
}

.close-ham-menu {
  display: none;
  font-size: 2em;
  margin-left: 0.9em;
  margin-top: 0.5em;
  color: white;
  cursor: pointer;
  position: fixed;
  z-index: 10;
}

.ham-cont {
  display: none;
  flex-direction: column;
  padding: 2em;
}
.ham-cont a {
  color: white;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 1em;
}

@media only screen and (max-width: 1700px) {
  #nav-izq button {
    font-size: 15px;
  }
  #nav-ul a {
    font-size: 15px;
  }
  .content-bar h1 {
    font-size: 70px;
  }
  .content-bar .cart-img {
    width: 38px;
  }
}
@media only screen and (max-width: 1500px) {
  .nav-container {
    padding: 0.5em 5em 0.5em 5em;
  }
  #nav-izq button {
    font-size: 12px;
  }
  #nav-ul a {
    font-size: 13px;
  }
  .content-bar {
    padding: 1.5em 10em 1.5em 10em;
  }
  .content-bar h1 {
    font-size: 50px;
  }
  .content-bar .cart-img {
    width: 35px;
  }
  .show-filter-btn img {
    width: 20px;
    margin-top: -0.2em;
    margin-right: -0.2em;
  }
  .filter-container {
    padding: 1em 0.5em 1em 0.5em;
  }
  .filter-container input {
    width: 120px;
  }
  .filter-container input, .filter-container button {
    font-size: 12px;
  }
  .search {
    padding: 0.2em 1em 0.2em 1em;
    width: 300px;
    font-size: 12px;
  }
  .card-cont h3 {
    font-size: 13px;
  }
  .card-cont p {
    font-size: 12px;
  }
  .card {
    transform: scale(0.9);
    min-width: 377px;
    min-height: 350px;
  }
  .card img {
    min-width: 360px;
  }
  .cat-list-container {
    gap: 15px;
    margin-top: 2em;
  }
  footer {
    margin-top: 5em;
  }
  footer p {
    font-size: 11px;
  }
  footer img {
    width: 250px;
  }
}
@media only screen and (max-width: 1300px) {
  #nav-izq button {
    font-size: 12px;
  }
  #nav-ul a {
    font-size: 12px;
  }
  .cat-list-container {
    grid-template-columns: 400px 400px;
  }
}
@media only screen and (max-width: 930px) {
  .cat-list-container {
    grid-template-columns: 400px;
    gap: 10px;
  }
  #nav-izq {
    display: none;
  }
  #nav-ul {
    display: none;
  }
  .nav-container {
    height: 5em;
    padding: 0;
  }
  #no-div {
    position: absolute;
  }
  .content-bar {
    padding: 2em 3em 2em 3em;
  }
  #open-ham-menu {
    display: block;
  }
  #open-ham-menu .material-symbols-outlined {
    margin-left: 0.7em;
    margin-top: 0.7em;
    font-size: 2em;
  }
  #open-ham-menu .material-symbols-outlined:hover {
    cursor: pointer;
  }
  .ham-menu {
    position: absolute;
    display: none;
    background: rgb(0, 0, 0);
    left: 0;
    height: 555vh;
    width: 20em;
    z-index: 9;
  }
  .ham-cont {
    display: flex;
  }
  .blur {
    filter: blur(10px);
  }
}/*# sourceMappingURL=category.css.map */