// Full tutorial coming soon!

@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

* {
  font-family: 'SF Pro Display', sans-serif;
  a {
    text-decoration: none;
  }
}

.nav-container {

  
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 1em;
  padding-right: 10em;
  padding-left: 10em;
  
  
   nav {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    
   
    
    
   }


  ul {
    display: flex;
    align-content: center;
    justify-content: space-between;
    
    
    li {
      margin-top: 1em;
      list-style: none;
      
    }

    a {
      font-size: 19px;
      color: white;
      margin-right: 3em;
      
    }
  }
}

.cat-list-container {
    padding: 5em;
    display: grid;
    place-content: center;
    justify-items: center;
    gap: 50px;
    grid-template-columns: 400px 400px 400px;

}

.filter-container {
    margin-top: 1.50em;
    margin-bottom: -2.70em;
    
}

.cat-title {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    .shop-cart {
      display: flex;
    }

    .shop-cart-price {
      color: black;
      text-decoration: none;
      font-size: 20px;
      margin-right: 5px;
    }

    img {
      width: 40px;
      margin-right: 8.5em;
      transition: 0.5s;

      &:hover {
        width:45px;
      }

  
    }
    

    h1 {
        color: black;
        font-size: 75px;
        margin-left: 1.7em;
        font-weight: bold;
    }

    p {
        font-size: 50px;
        color: rgb(110, 110, 115);
    }
}

.card {

    p {
        
        margin-top: 1em;
    }
    --card-gradient: rgba(0, 0, 0, 0.945);
    
    transition: 0.5s;
    
    
    // --card-gradient: tomato, orange;
    --card-blend-mode: overlay;
    // --card-blend-mode: multiply;
    
    background-color: #fff;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.362) 0px 3px 8px;
    padding-bottom: 1rem;
    max-height: 480px;
    background-image: linear-gradient(
      var(--card-gradient),
      rgba(255, 255, 255, 0) max(9.5rem, 30vh)
    );
    overflow: hidden;
    
    &:hover {
        opacity: 100%;
        cursor: pointer;
       
    }
  
    .card-cont {
        padding: 1.80em;
    }

    img {
      
      border-radius: 0.5rem 0.5rem 0 0;
      width: 100%;
      object-fit: cover;
      // height: max(10rem, 25vh);
      max-height: max(10rem, 30vh);
      aspect-ratio: 4/3;
      mix-blend-mode: var(--card-blend-mode);
      // filter: grayscale(100);
        transition: 0.5s;
      &:hover {
        opacity: 100%;
      }
  
      ~ * {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  
    > :last-child {
      margin-bottom: 0;
    }
  
    &:hover,
    &:focus-within {
        
      a {
        font-size: 2em;
        cursor: pointer;
        
      }
    }
  }
  
  /* Additional demo display styles */
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'SF Pro Display', sans-serif;
                                            
  }
  
  .card h3 {
    margin-top: -1em;
    font-size: 1.25rem;
    
  }
  
  .card a {
    color: inherit;
  }
  
  h3 {
    a {
        transition: 0.5s;
        text-decoration: none;
        font-size: 1.8em;
        font-weight: bold;
    }
 }

  .card-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  