* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f7;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-cont {
  padding: 4em;
  width: 40em;
  background-color: white;
  border-radius: 2em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.hero-cont .checkout-continue-btn {
  padding: 1.2em;
  border: none;
  border-radius: 1em;
  color: white;
  background-color: #000000;
  width: 13em;
}
.hero-cont .checkout-continue-btn:hover {
  cursor: pointer;
}

.bot-cont {
  align-self: center;
}

.top-cont h1 {
  font-size: 1.6em;
}

.mid-cont {
  padding: 5em;
}
.mid-cont .street-cont, .mid-cont .number-cont, .mid-cont .esq-cont {
  margin-bottom: 1.7em;
}
.mid-cont .street-cont input, .mid-cont .number-cont input, .mid-cont .esq-cont input {
  border: none;
  border-bottom: 1px solid rgb(122, 122, 122);
  background: transparent;
  padding: 0.8em;
  width: 35em;
}
.mid-cont .street-cont p, .mid-cont .number-cont p, .mid-cont .esq-cont p {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #616161;
}

textarea:focus, input:focus {
  outline: none;
}

.add-payment-card, .add-payment-bankacc {
  padding: 2em;
  border: none;
  border-radius: 1em;
  margin-bottom: 1em;
  color: white;
  background-color: rgba(122, 122, 122, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s ease;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 100%;
}
.add-payment-card:hover, .add-payment-bankacc:hover {
  background-color: rgba(122, 122, 122, 0.0745098039);
}
.add-payment-card img, .add-payment-bankacc img {
  width: 40px;
  margin-left: -10em;
  position: absolute;
  transition: 0.5s ease;
}
.add-payment-card p, .add-payment-bankacc p {
  font-size: 1.2em;
  color: black;
}

.button-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-cont-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paypal-btn, .mercado-pago-btn, .applepay-btn {
  padding: 1.8em;
  border: none;
  border-radius: 1em;
  color: white;
  background-color: #d4dbe6;
  width: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
  margin-left: 0.5em;
  margin-top: 4em;
  transition: 0.3s ease;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.paypal-btn:hover, .mercado-pago-btn:hover, .applepay-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.paypal-btn img, .mercado-pago-btn img, .applepay-btn img {
  width: 30px;
  position: absolute;
}
.paypal-btn .paypal-img, .mercado-pago-btn .paypal-img, .applepay-btn .paypal-img {
  width: 90px;
}
.paypal-btn .mp-img, .mercado-pago-btn .mp-img, .applepay-btn .mp-img {
  width: 38px;
}
.paypal-btn .applepay-img, .mercado-pago-btn .applepay-img, .applepay-btn .applepay-img {
  width: 50px;
}

.applepay-btn {
  background-color: rgba(58, 58, 58, 0.568627451);
}

.paypal-btn {
  background-color: rgba(125, 150, 235, 0.568627451);
}

.mercado-pago-btn {
  background-color: rgba(67, 149, 255, 0.568627451);
}

.add-card-cont {
  display: flex;
  flex-direction: column;
}

.blockClass {
  display: block;
}

#back-btn {
  background: transparent;
  cursor: pointer;
  padding: 1.2em;
  border: none;
  border-radius: 1em;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.6784313725);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 13em;
}

.buttons {
  align-self: center;
  margin-bottom: -3.8em;
}
.buttons button {
  margin-right: 0.5em;
  margin-left: 0.5em;
  margin-top: 2em;
}

.card-bottom-cont {
  display: flex;
}

#card-expire-input, #card-code-input {
  width: 15em;
}

#card-expire-input {
  margin-right: 3.5em;
}

.alert-text {
  display: flex;
  color: rgb(223, 80, 80);
  font-size: 0.8em;
}
.alert-text img {
  width: 20px;
  margin-right: 1em;
}

.displayBlock {
  display: block;
}

.buy-succes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border-radius: 1.5em;
  width: 30em;
  height: 40em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.buy-succes .buy-succes-top-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20em;
  background: rgb(61, 150, 61);
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}
.buy-succes .buy-succes-top-cont h2 {
  color: white;
}
.buy-succes .buy-succes-top-cont img {
  width: 100px;
  margin-bottom: 1.5em;
  opacity: 70;
}
.buy-succes .buy-succes-bot-cont {
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 3em;
}
.buy-succes .buy-succes-bot-cont button {
  background: transparent;
  cursor: pointer;
  padding: 1.5em;
  border: none;
  border-radius: 1em;
  color: black;
  background-color: white;
  width: 13em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: 0.5s ease;
  font-weight: bold;
}
.buy-succes .buy-succes-bot-cont button:hover {
  transform: scale(1.05);
}

.buy-success-mid-cont {
  height: 0em;
}

.buy-resume {
  display: flex;
  gap: 20px;
}
.buy-resume img {
  width: 50px;
  border-radius: 50%;
}/*# sourceMappingURL=checkout-pay.css.map */