
body {
    overflow: hidden;
    
    
    a {
        text-decoration: none;
    }
}

.btn-container {
    display: flex;
    align-items: flex-end;
    justify-content: start;
    margin-left: 13em;
    margin-bottom: 1em;
}


/* CSS */
.button-56 {
    a {
        color: black;
    }
  margin-right: 3em;
  align-items: center;
  background-color: #4AC3DE;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: black;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: rgb(34, 159, 188);
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.jumbotron {
    
    .user-cont {

        a {
            color: black;
            font-weight: bold;
            &:hover {
                font-weight: bold;
                box-shadow: 0 4px 2px -2px #4AC3DE;
            }
        }

        img {
            margin-right: 0.5em;
            margin-bottom: 0.2em;
            width: 20px;
        }
        
        position: absolute;
        margin-left: 7em;
        
        text-transform: uppercase;
    }

    .shop-cart {
        transition: 0.1s;
        position: absolute;
        width: 30px;
        margin-bottom: 0.5em;
        &:hover {
            width: 33px;
            cursor: pointer;
            margin-bottom: 0.5em;
            
        }
    }

    nav {
        
        
        position: absolute;
        right: 0;
        margin-right: 15em;
        
        
        ul {
            display: flex;
            list-style: none;
            
            
            
            
            

            a {
                color: black;
                font-size: 20px;
                margin-right: 2em;
                text-decoration: none;
                &:hover {
                    font-weight: bold;
                    box-shadow: 0 4px 2px -2px #4AC3DE;
                }
            }
        }
    }
    margin-top: 4em;
    display: flex;
    
    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {

    .tarjetas {
        display: flex;
        
        
    }

    .buttn {

        display: flex;
        margin-left: 17em ;
        margin-top: 2.5em;
        margin-bottom: 10em;
        
       
        
        
        
        
        a {
            text-align: center;
            font-size: 20px;
            padding: 0.5em;
            width: 150px;
            border: 1px gray solid;
            
            border-radius: 15px;
            background-color: #212529;
            color: white;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                background-color: #212529;
                color: white;
                font-weight: bold;
            }
        }

    }

    .container {
        margin-top: 1em;
        margin-left: 14.2em;
        display: flex;

        
        
        
    }
    
    

    img {
        width: 250px;
    }

    .tarjeta {

        
        h3 {
            padding: 0.5em;
            font-size: 20px;
            font-weight: bold;
        }
        
        margin-right: 1.5em;
        margin-left: 1.5em;
        width: min-content;

        height: 230px;

        .card-text {
            max-width: 15em;
            font-size: 14px;
        }

        

    }

    
}

footer {
    
    
    .container {
        a {
            color: rgb(34, 159, 188);
            text-decoration: none;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -2em;
        
    }
    p {
        font-size: 14px;
    }
}
