@import url("http://fonts.cdnfonts.com/css/sf-pro-display");
* {
  font-family: "SF Pro Display", sans-serif;
}
* a {
  text-decoration: none;
}

body {
  background-color: #f5f5f7;
}
body .userBtn {
  background-color: black;
  color: white;
}

textarea:focus, input:focus {
  outline: none;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.hero-section .profile-cont {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  width: 70vw;
  height: 85vh;
  border-radius: 2.3em;
  display: flex;
  flex-direction: column;
}
.hero-section .profile-cont .profile-cont-top {
  display: flex;
  justify-content: space-between;
  padding: 4em 6em 4em 6em;
}
.hero-section .profile-cont .profile-cont-top h2 {
  font-family: "Poppins";
  font-weight: 600;
}
.hero-section .profile-cont .profile-cont-top button {
  border: none;
  padding: 0.9em;
  border-radius: 1em;
  font-size: 0.8em;
  font-weight: bold;
  width: 7em;
  text-align: center;
  transition: 0.2s ease;
}
.hero-section .profile-cont .profile-cont-top button:hover {
  scale: 1.05;
}
.hero-section .profile-cont .profile-cont-top .cancel-btn {
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.hero-section .profile-cont .profile-cont-top .save-btn {
  background-color: black;
  color: white;
  margin-left: 1em;
}
.hero-section .profile-cont .profile-cont-bot {
  display: flex;
  padding: 0em 0em 0em 6em;
}
.hero-section .profile-cont .profile-cont-bot .profile-cb-left {
  width: 20%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(184, 184, 184);
}
.hero-section .profile-cont .profile-cont-bot .profile-cb-left a {
  color: black;
  font-size: 0.75em;
  font-weight: bold;
  font-family: "Poppins";
}
.hero-section .profile-cont .profile-cont-bot .profile-cb-right {
  width: 80%;
  height: 25em;
  padding: 0em 6em 0em 6em;
}

.personal-information-form {
  display: flex;
  flex-direction: column;
  padding: 0em 6em 0em 6em;
  justify-content: space-between;
  height: 50vh;
}
.personal-information-form input {
  border: none;
  border-bottom: 2px solid rgb(219, 219, 219);
  width: 15em;
}
.personal-information-form p {
  font-weight: 500;
  color: rgb(88, 88, 88);
}

.profile-pic-settings {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.profile-pic-settings a {
  color: rgb(88, 88, 88);
  text-decoration: underline;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.input-cont {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 1.5em;
}

.profile-pic-circle {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  border: 1px solid rgb(219, 219, 219);
}

.active-design {
  display: none;
  position: absolute;
  width: 4px;
  height: 10px;
  margin-left: -0.7em;
  margin-top: 0.27em;
  background-color: black;
}

.user-settings-swipe {
  transform: translateY(12em);
  position: absolute;
}

.user-settings-swipe-off {
  transform: translateY(-12em);
  position: absolute;
}

.user-settings-hide {
  margin-top: -12em;
  z-index: 1;
  position: absolute;
}

.user-settings {
  height: 10em;
  width: 11em;
  background-color: black;
  position: absolute;
  margin-top: -2em;
  margin-left: 8em;
  border-radius: 1.5em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.user-settings button {
  color: white;
  background-color: black;
}
.user-settings a {
  color: white;
  margin-left: 0.5em;
}

#nav-izq {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  margin-top: -0.3em;
}
#nav-izq .user-icon {
  margin-top: 1.2em;
  margin-right: 0.5em;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 200, "opsz" 48;
  color: white;
}

.nav-container {
  font-family: "Poppins";
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 1em;
  padding-right: 7em;
  padding-left: 7em;
}
.nav-container nav {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.nav-container ul {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.nav-container ul li {
  margin-top: 1em;
  list-style: none;
}
.nav-container ul a {
  font-size: 19px;
  color: white;
  margin-right: 3em;
}/*# sourceMappingURL=my-profile.css.map */