@import url('https://fonts.cdnfonts.com/css/sf-pro-display');


* {
    font-family: 'SF Pro Display', sans-serif;

    a {
        text-decoration:  none;
        
    }
}




body {
    background-color: #f5f5f7;
    overflow-x: hidden;

    .userBtn {
        background-color: black;
        color: white;
    }
}

#nav-izq {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    margin-top: -0.3em;
  
    .user-icon {
      margin-top: 1.2em;
      margin-right: 0.5em;
    }
  
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 200,
    'opsz' 48;
    color: white;
    
  }

.nav-container {

    font-family: 'Poppins';
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 1em;
    padding-right: 7em;
    padding-left: 7em;
    
    
     nav {
      display: flex;
      justify-content: flex-end;
      align-content: center;
      
     
      
      
     }
  
  
    ul {
      display: flex;
      align-content: center;
      justify-content: space-between;
      
      
      li {
        margin-top: 1em;
        list-style: none;
        
      }
  
      a {
        font-size: 19px;
        color: white;
        margin-right: 3em;
        
      }
    }
  }


.user-settings-swipe {
    transform: translateY(12em);
    
    position: absolute; 
    
}

.user-settings-swipe-off {
    transform: translateY(-12em);
    
    position: absolute; 
    
}

.user-settings-hide {
    margin-top: -12em;
    
    position: absolute;
    
}

.user-settings {
    
    height: 10em;
    width: 11em;
    background-color: black;
    position: absolute;
    margin-top: -2em;
    margin-left: 8em;
    border-radius: 1.5em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    span {
       
        
    }

    button {
        color: white;
        background-color: black;
    }

    a {
        
        color: white;
        margin-left: 0.5em;
        
        
        
    }
}

.main-section {
    display: flex;
    justify-content: center;
    
    padding: 5em 10em 10em 10em;
    background-color: #f5f5f7;
    

    .main-container {
        width: 1200px;
        padding: 3em 1em 1em 1em ;
        background-color: white;
        border-radius: 1em;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        .top-cont {
            display: flex;
            justify-content: space-around;
        }

        .bottom-cont {
            padding: 3em 3em 3em 3em;
            
        }

        .info-cont {
            padding: 4em;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            width: 500px;
            border-radius: 1em;
            display: flex;
            border-radius: 1em;
            flex-direction: column;
            justify-content: space-between;

            .title {
               h1 {
                font-size: 2.2em;
               }
            }

            .price {
                h2 {
                    margin-top: 1em;
                    font-weight: bold;
                    font-size: 1.9em;
                }

                span {
                    color: rgb(0, 166, 80);
                }

                .stock {
                    font-weight: bold;
                }
            }

            .button-cont{
                margin-top: 3em;
                display: flex;
                flex-direction: column;

                button {
                    padding: 0.9em;
                    border: none;
                    border-radius: 0.7em;
                    color: white;
                    font-weight: bold;
                    margin-top: 1em;
                    
                }

                .buyBtn {
                    background-color: #0d6efd;
                }

                .cartAddBtn {
                    background-color: rgb(217, 231, 250);
                    color: rgb(83, 150, 250);
                }
            }
        }

        .description {
            margin-top: 2em;
            
            padding-top: 3em;
            padding-bottom: 3em;
            border-top: 1px solid rgb(226, 226, 226);
            border-bottom: 1px solid rgb(226, 226, 226);
            min-width: 1000px;

            h2 {
                font-size: 1.7em;
            }

            p {
                color: rgb(127, 127, 127);
            }
            
        }

        .comment-section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            margin-top: 1em;
            border-radius: 1em;
            padding: 3em;
            max-width: fit-content;
            
            

            h2 {
                font-size: 1em;
                font-weight: bold;
                
            }

            .comments {
                margin-top: 2em;
                
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                padding: 1.5em;
                border-radius: 1em; 
                min-width: 1070px;

                .cont {
                    display: flex;
                    justify-content: space-between;

                    .date {
                        font-size: 12px;
                        color: rgb(179, 179, 179);
                    }
                }

                p {
                    font-size: 0.85em;
                }

                .user-cont {
                    display: flex;
                    
                     
                    h2 {
                        margin-bottom: 0em;
                        margin-right: 1em;
                    }

                    .rating {
                        margin-top: -0.1em;
                    }
                }

                .temp-cont {
                    display: flex;
                    justify-content: center;
                }

                
            }


        
        }

        .user-comments {
            margin-top: 2em;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            padding: 1.5em;
            border-radius: 1em; 
            min-width: 1070px;

            .cont {
                display: flex;
                justify-content: space-between;

                .date {
                    font-size: 12px;
                    color: rgb(179, 179, 179);
                }
            }

            p {
                font-size: 0.85em;
            }

            .user-cont {
                display: flex;
                
                 
                h2 {
                    margin-bottom: 0em;
                    margin-right: 1em;
                }

                .rating {
                    margin-top: -0.1em;
                }
            }

            .temp-cont {
                display: flex;
                justify-content: center;
            }

            
        }

        .submit-comment {
            
            margin-top: 2em;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            padding:2em;
            border-radius: 1em; 
            min-width: 1070px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            #submit-close {
                border: none;
                background-color: transparent;
            }

            .submit-close {
                width: 10px;
                
                

                &:hover {
                    cursor: pointer;
                }

                
                
            }

            

            input {
                
                border-radius: 1em; 
                width: 1000px;
                border: none;
                margin-top: 1em;
                margin-bottom: 1em;
                padding: 1em;
                

            }

            .addComment {
                padding: 0.8em 1.5em 0.8em 1.5em;
                border: none;
                border-radius: 0.7em;
                color: white;
                font-weight: bold;
                font-size: 14px;
                margin-top: 1em;
                background-color: #0d6efd;
            }

            textarea:focus, input:focus{
                outline: none;
            }

            .submit-inner-cont {
                display: flex;
                
                h2 {
                    margin-right: 1em;
                }

                .rating-cont {
                    margin-top: -0.1em;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }   
        }

        .img-cont {
            
            margin-top: 3em;
            img {
                
                border-radius: 0.3em;

                &:hover {
                    cursor: pointer;
                }
                
            }

            .main-img {
                img {
                    width: 550px;
                    margin-bottom: 0.5em;
                }
            }
    
            .secondary-img {
                display: flex;
                justify-content: center;
                img {
                    width: 180px;
                    margin-right: 0.3em;
                }
            }
        }

        
            



    }
}

.relatedProducts {
    padding: 3em;
    
    
}

.relatedProducts-cont {

    

    img {
        width: 250px;
        border-radius: 0.6em;
    }

    display: flex;
    flex-direction: row;
    padding: 3em;
    gap: 5em;
    margin-top: 2em;

    .inner-container {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 1.5em;
        border-radius: 1em;
    }

    .button-cont {
        button {
            width: 100%;
            padding: 0.7em;
            border: none;
            border-radius: 0.7em;
            color: white;
            margin-top: 1em;
            background-color: #0d6efd;
            
        }
    }

    .price {
        display: flex;
        gap: 10px;
        margin-top: 1em;

        h3 {
            font-size: 1.2em;
            font-weight: bold;
        }
    }

    .body {
        padding: 0.5em;
        h2 {
            font-size: 1.6em;
            margin-top: 1em;
        }
    }
    
}

.backArrow {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 1em;
    margin-top: -1em;

    &:hover{
        cursor: pointer;
    }
}

@media only screen and (max-width:1700px){
    .main-section {
        transform: scale(0.9);
        padding-top: 0;
    }
}

@media only screen and (max-width:1500px){
    
    .main-section, h1, nav{
        transform: scale(0.75);
    }

    .main-container {
        margin-top: -9em;
    }

    

}