* {
    font-family: 'Poppins';

    a {
        text-decoration:  none;
        
    }
}



.product-hero-section {
    margin-top: 4em;
    padding-bottom: 5em;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    
    align-items: center;
    justify-content: center;
    
    
    


    .card-body {

        
        h5 {
            font-weight: bold;
        }

        .price {
            display: flex;

        

            p {
                margin-right: 1em;
                font-size: 15px;
                font-weight: 500;
            }
        }

        .description {
            min-height: 5em;

            
        }

        p {
            font-size: 14px;
        }

    }

    .card {
        margin-top: 4em;
        margin-left: 2em;
        max-height: 5000px;

        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    
}

.product-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    
    h1 {
        font-size: 55px;
        font-weight: bold;
        

    }
}

.btn {
    font-weight: 600;

    &:hover {
        font-weight: bold;
    }
}

.order {
    font-weight: bold;
    padding: 5em 00em 0em 28.7em;
    display: flex;
    
    flex-direction: column;
    
    width: max-content;
    margin-bottom: -4em;
    position: absolute;
    z-index: 2;
    
    img {
        width: 10px;
        transition: 0.2s;
    }

    a {
        color: black;
        font-weight: 400;
         &:hover {
            font-weight: 500;
         }
    }
    
}

.drop-arrow-flip {
    transform: scaleY(-1);
}

.dropdown-content {
    display: none;
    
    
    
    
    z-index: 2;    
    
    
    
}

.a-container {
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: white;
    border-radius: 1em;
    
    display: flex;
    flex-direction: column;
    margin-left: 6em; 
    a {
        padding: 0.5em;
        &:hover {
            box-shadow: 0 4px 2px -2px #0d6efd ;
        }
    }
    
    
    
}

.dropbtn {
    border: 0px;
    background-color: #ffffff;
}

.show {
    display: block;
}

.hide {
    display: none;
}