@import url("http://fonts.cdnfonts.com/css/sf-pro-display");
* {
  font-family: "SF Pro Display", sans-serif;
}
* a {
  text-decoration: none;
}

body {
  background-color: #f5f5f7;
}

.search-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 8em;
  margin-top: 4em;
  align-items: start;
  position: absolute;
}
.search-cont .search {
  background-color: white;
  padding: 0.2em 1em 0.2em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8em;
  width: 369px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.search-cont .search img {
  width: 20px;
}
.search-cont input {
  border: none;
  width: 295px;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-right: 1em;
}
.search-cont input:focus {
  outline: none;
}

.f-cont {
  display: flex;
  justify-content: start;
  margin-left: -4em;
}

.filter-container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  border-radius: 1.3em;
  padding: 1em;
  padding-right: 1em;
  padding-left: 1em;
  transform: scale(0.75);
}
.filter-container .btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-container .inner-cont {
  display: flex;
  align-items: center;
}
.filter-container input {
  margin-right: 1em;
  width: 150px;
  background-color: white;
  border: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#clearRangeFilter {
  text-decoration: none;
}

#rangeFilterCount {
  background-color: white;
  border: none;
}

#nav-izq {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  margin-top: -0.3em;
}
#nav-izq .user-icon {
  margin-top: 1.2em;
  margin-right: 0.5em;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 200, "opsz" 48;
  color: white;
}

.nav-container {
  font-family: "Poppins";
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 1em;
  padding-right: 7em;
  padding-left: 7em;
}
.nav-container nav {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.nav-container ul {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.nav-container ul li {
  margin-top: 1em;
  list-style: none;
}
.nav-container ul a {
  font-size: 19px;
  color: white;
  margin-right: 3em;
}

.product-hero-section {
  margin-top: 1em;
  padding-bottom: 5em;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  justify-content: center;
  margin-left: 20em;
}
.product-hero-section .card-body {
  display: flex;
  flex-direction: column;
}
.product-hero-section .card-body h5 {
  font-weight: bold;
}
.product-hero-section .card-body .price {
  display: flex;
}
.product-hero-section .card-body .price p {
  margin-right: 1em;
  font-size: 15px;
  font-weight: bold;
}
.product-hero-section .card-body .description {
  min-height: 5em;
}
.product-hero-section .card-body p {
  font-size: 14px;
}

.card {
  padding: 1em;
  margin-top: 4em;
  margin-left: 2em;
  height: 460px;
  border-radius: 1em;
  width: 18rem;
  transition: 0.1s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card img {
  border-radius: 0.5em;
}

.title-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5em;
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.title-cont .shop-cart {
  display: flex;
}
.title-cont .shop-cart-price {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-right: 5px;
}
.title-cont img {
  width: 40px;
  margin-right: 17em;
  transition: 0.5s;
}
.title-cont img:hover {
  width: 45px;
}
.title-cont h1 {
  color: black;
  font-size: 75px;
  margin-left: 3em;
  font-weight: bold;
}

.cat-title {
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.cat-title h1 {
  color: black;
  font-size: 75px;
  margin-left: 5em;
  font-weight: bold;
}
.cat-title p {
  font-size: 50px;
  color: rgb(110, 110, 115);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  height: 3em;
  font-weight: 600;
}
.btn:hover {
  font-weight: bold;
}

.order {
  font-weight: bold;
  margin-right: 19.5em;
  display: flex;
  right: 0;
  flex-direction: column;
  margin-top: -4em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  z-index: 2;
}
.order img {
  width: 10px;
  transition: 0.2s;
}
.order a {
  color: black;
  font-weight: 400;
}
.order a:hover {
  font-weight: 500;
}

.drop-arrow-flip {
  transform: scaleY(-1);
}

.dropdown-content {
  display: none;
  z-index: 2;
}

.a-container {
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: white;
  border-radius: 1em;
  width: 183px;
  display: flex;
  flex-direction: column;
  margin-left: 5em;
  position: absolute;
}
.a-container a {
  padding: 0.5em;
}
.a-container a:hover {
  font-weight: bold;
}

.dropbtn {
  border: 0px;
  background-color: #f5f5f7;
}

.show {
  display: block;
}

.hide {
  display: none;
}/*# sourceMappingURL=products.css.map */