@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Red+Hat+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');


* {

    a {
        text-decoration:  none;
        
    }
}




body {
    background-color: #f5f5f7;
    overflow-x: hidden;

    .userBtn {
        background-color: black;
        color: white;
    }
}

.shopCartContent {
    padding: 3em 1.5em 3em 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    
    border-radius: 0.7em;
    display: flex;
    flex-direction: column;
    
    .item {
        display: flex;
        justify-content: space-between;
    }
}

.user-settings-swipe {
    transform: translateY(12em);
    
    position: absolute; 
    
}

.user-settings-swipe-off {
    transform: translateY(-12em);
    
    position: absolute; 
    
}

.user-settings-hide {
    margin-top: -12em;
    z-index: 1;
    position: absolute;
    
}

.user-settings {
    
    height: 10em;
    width: 11em;
    background-color: black;
    position: absolute;
    margin-top: -2em;
    margin-left: 8em;
    border-radius: 1.5em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    button {
        color: white;
        background-color: black;
    }

    a {
        
        color: white;
        margin-left: 0.5em;
        
        
        
    }
}




.left-cont {
    background-color: rgb(245, 245, 247);
    padding: 3em;
    height: 141vh;
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: -5.1em;
    position: absolute;
    z-index:-1;
    width: 30em;
}

.swipe {
    margin-left: -30em;
}

.swipeToggle {
    
    transform: rotate(540deg)
}



.swipeBtn {
    border: none;
    
}

.img-cont {
    width: 25em;
    display: flex;
    justify-content: start;
    
    
}

.swipeImg {
    width: 40px;
    margin-left: 2em;
    position: absolute;
    margin-top: -2em;
    transition: 0.5s;

    &:hover {
        width: 43px;
    }
    
    
    
}

.hero-hide {
    transition: 0.5s;
    width:30em;
    
    
    
}

.cart-cont {

    display: flex;
    flex-direction: column;
    

    a {
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        padding: 1em;
        border-radius: 0.8em;
        margin-top: 1em;
        color: black;
        
    }

    background-color: white;
        padding: 2em;
        min-height: 500px;
        border-radius: 0.8em;
        width: 369px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-bottom: 1em;
        margin-top: 5.5em;

}


  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  .search {
    font-family: 'SF Pro Display', sans-serif;    
    background-color: white;
    padding: 0.2em 1em 0.2em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8em;
    width: 369px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 3em;
  
  
    img {
        width: 20px;
        
    }
  
    input {
        border: none;
        width: 295px;
        border-radius: 0.5em;
        padding: 0.5em;
        margin-right: 1em;
        &:focus {
            outline: none;
        }  
    }
  }
  


#clearRangeFilter{
    text-decoration: none;
}

#rangeFilterCount{
    background-color: white;
    border: none;
}

#nav-izq {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    margin-top: -0.3em;
  
    .user-icon {
      margin-top: 1.2em;
      margin-right: 0.5em;
    }

    button {
        font-weight: 800;
      }
  
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 200,
    'opsz' 48;
    color: white;
    
  }

  .nav-container {
    font-family: 'Poppins';
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 1em 6.5em 1em 6.5em;
    
    
     nav {
      display: flex;
      justify-content: flex-end;
      align-content: center;
      
     
      
      
     }
  
  
    ul {
      display: flex;
      align-content: center;
      justify-content: space-between;
      
      
      li {
        margin-top: 1em;
        list-style: none;
        
      }
  
      a {
        font-size: 17px;
        color: white;
        margin-right: 3em;
        
      }
    }
  }


.product-hero-section-margin {
    margin-right: 30em;
}

.product-hero-section {
    transition: 0.5s;
    margin-top: 3em;
    padding-bottom: 5em;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    justify-content: center;
    transition: ease-out 0.2s;
    

    .card-body {

        display: flex;
        flex-direction: column;
        
        h5 {
            margin-top: 1em;
            font-weight: bold;
        }

        .price {
            display: flex;

            p {
                margin-right: 1em;
                font-size: 20px;
                font-weight: bold;
            }
        }

        .description {
            min-height: 5em;    
        }

        p {
            font-size: 14px;
        }

    }

    
    
}

.card {
        font-family: 'SF Pro Display', sans-serif;
        padding: 1em;
        margin-top: 4em;
        margin-left: 2em;
        max-height: 350px;
        border-radius: 1.5em;
        width: 18rem;
        transition: 0.1s;
        transition: 0.5s ease;

        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
         }
        img {
            
            border-radius: 0.5em;
        }
}

.primary-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

.content-bar {
        padding: 2em 10em 2em 10em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
        img {
          width: 40px;
          transition: 0.5s ease;
    
        }
        
        h1 {
            color: black;
            font-size: 75px;
            font-weight: bold;
        }
    
        p {
            font-size: 50px;
            color: rgb(110, 110, 115);
        }
    
        
}

.show-filter-btn {
    border: none;
    background: transparent;
    margin-top: 3em;
    margin-right: 1em;
    
    
    img {
      width: 30px;
     
    }
  }

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -3.6em;
}

.wrapper-column {
    display: flex;
    flex-direction: column;
}



.filter-container {
    display: none;
    position: absolute;
    margin-left: -4em;
    margin-top: 6em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    border-radius: 1.3em;
    padding: 1.5em;
    padding-right: 1em;
    padding-left: 1em;
    transform: scale(0.75);
    transition: 0.2s ease;
  
    .inner-cont {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    input {
        margin-right: 1em;
        width: 150px;
        background-color: white;
        border: none;
    }
  
    .btn-group {
      display: flex;
      justify-content: center;
      align-items: center; 
    }
  
    button {
      background: transparent;
    }
  }

.backarrow {
    
}

.cat-title {
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    

    h1 {
        color: black;
        font-size: 75px;
        margin-left: 5em;
        font-weight: bold;
    }

    p {
        font-size: 50px;
        color: rgb(110, 110, 115);
    }

    
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    height: 3em;
    font-weight: 600;
    

    &:hover {
        font-weight: bold;
    }
}

.order {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: bold;
    margin-right: 8vw;
    display: flex;
    right: 0;
    flex-direction: column;
    margin-top: 1em;
    width: max-content;
    font-size: 15px;
    position: absolute;
    z-index: 2;
    
    img {
        width: 10px;
        transition: 0.2s;
    }
  
    a {
        color: black;
        font-weight: 400;
         &:hover {
            font-weight: 500;
         }
    }
    
  }
  
  .drop-arrow-flip {
    transform: scaleY(-1);
  }
  
  .dropdown-content {
    display: none;
    z-index: 2;   
  }
  
  .a-container {
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: white;
    border-radius: 1em;
    width: 183px;
    display: flex;
    flex-direction: column;
    margin-left: 5em; 
    position: absolute;
    a {
        padding: 0.5em;
        &:hover {
            font-weight: bold;
        }
    }
  }
  
  .dropbtn {
    border: 0px;
    background-color: #f5f5f7;
  }
  
  .show {
    display: block;
  }
  
  .hide {
    display: none;
  }

  footer {
    margin-top: 10em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    .social {
        width: 15px;
        margin: -1.5em -2.5em auto 3em;   
    }

    img {
        width: 300px;
    }

    p {
        color: #6F6F6F;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 13px;
        text-align: center;
        margin-bottom: 1em;
        margin-right: -3em;
    }

    
  }

@media only screen and (max-width:1700px){
    
    .product-hero-section, .search-cont, h1, .order, nav, .shop-cart {
        transform: scale(0.85);
    }

    .product-hero-section{
        margin-top: -6em;
    }

    .order {
        margin-right: 6em;
    }

    .search-cont {
        margin-top: 0em;
    }

    .title-cont {
        h1 {
            margin-left:2em ;
        }

        .shop-cart {
            margin-right: -6em;
        }
    }

    .left-cont {
        background-color: rgb(245, 245, 247);
        padding: 3em;
        height: 165vh;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-top: -5em;
        position: absolute;
        z-index:-1;
        width: 30em;
    }

}

@media only screen and (max-width:1500px){
    
    .product-hero-section, .search-cont, h1, .order, nav, .shop-cart {
        transform: scale(0.75);
    }

    .product-hero-section{
        margin-top: -8.5em;
    }

    .order {
        margin-right: 3em;
    }

    .search-cont {
        margin-top: 0em;
        margin-left: 0.5em;
    }

    .title-cont {
        h1 {
            margin-left:1em ;
        }

        .shop-cart {
            margin-right: -9em;
        }
    }

    .left-cont {
        background-color: rgb(245, 245, 247);
        padding: 3em;
        height: 165vh;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-top: -5em;
        position: absolute;
        z-index:-1;
        width: 25em;
    }

}