@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Red+Hat+Display:wght@400;500;600;700&display=swap");
* a {
  text-decoration: none;
}

body {
  background-color: #f5f5f7;
  overflow-x: hidden;
}
body .userBtn {
  background-color: black;
  color: white;
}

.nav-izq, nav {
  opacity: 0;
}

nav {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

#nav-izq {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  margin-top: -0.3em;
}
#nav-izq .user-icon {
  margin-top: 1.2em;
  margin-right: 0.5em;
}
#nav-izq button {
  font-weight: 800;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 200, "opsz" 48;
  color: white;
}

.nav-container {
  font-family: "Poppins";
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 1em 6.5em 1em 6.5em;
}
.nav-container nav {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.nav-container ul {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.nav-container ul li {
  margin-top: 1em;
  list-style: none;
}
.nav-container ul a {
  font-size: 17px;
  color: white;
  margin-right: 3em;
}

.carousel {
  transform: scale(0.8);
  max-width: 700px;
}

.user-settings-swipe {
  transform: translateY(12em);
  position: absolute;
}

.user-settings-swipe-off {
  transform: translateY(-12em);
  position: absolute;
}

.user-settings-hide {
  margin-top: -12em;
  z-index: 1;
  position: absolute;
}

.user-settings {
  height: 10em;
  width: 11em;
  background-color: black;
  position: absolute;
  margin-top: -2em;
  margin-left: 8em;
  border-radius: 1.5em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  transition: 0.5s ease;
  transform: translateY(-200px);
  opacity: 0;
}
.user-settings button {
  color: white;
  background-color: black;
}
.user-settings a {
  color: white;
  margin-left: 0.5em;
}

.shadow-cont {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1em;
}

.main-section {
  opacity: 0;
  font-family: "SF Pro Display", sans-serif;
  display: flex;
  justify-content: center;
  padding: 5em 10em 10em 10em;
  background-color: #f5f5f7;
  transform: translateY(200px);
}
.main-section .main-container {
  width: 1400px;
  padding: 3em 1em 1em 1em;
  background-color: white;
  border-radius: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.main-section .main-container .top-cont {
  display: flex;
  justify-content: space-around;
}
.main-section .main-container .bottom-cont {
  padding: 3em 3em 3em 3em;
}
.main-section .main-container .info-cont {
  padding: 4em;
  width: 500px;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-section .main-container .info-cont .title h1 {
  font-size: 2.2em;
}
.main-section .main-container .info-cont .price h2 {
  margin-top: 1em;
  font-weight: bold;
  font-size: 1.9em;
}
.main-section .main-container .info-cont .price span {
  color: rgb(0, 166, 80);
}
.main-section .main-container .info-cont .price .stock {
  font-weight: bold;
}
.main-section .main-container .info-cont .button-cont {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
}
.main-section .main-container .info-cont .button-cont button {
  padding: 0.9em;
  border: none;
  border-radius: 0.7em;
  color: white;
  font-weight: bold;
  margin-top: 1em;
}
.main-section .main-container .info-cont .button-cont .buyBtn {
  background-color: #000000;
  transition: ease 0.1s;
}
.main-section .main-container .info-cont .button-cont .buyBtn:hover {
  transform: scale(1.01);
}
.main-section .main-container .info-cont .button-cont .cartAddBtn {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: rgb(0, 0, 0);
  transition: ease 0.1s;
}
.main-section .main-container .info-cont .button-cont .cartAddBtn:hover {
  transform: scale(1.01);
}
.main-section .main-container .description {
  margin-top: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
  border-top: 1px solid rgb(226, 226, 226);
  border-bottom: 1px solid rgb(226, 226, 226);
  min-width: 1000px;
}
.main-section .main-container .description h2 {
  font-size: 1.7em;
}
.main-section .main-container .description p {
  color: rgb(127, 127, 127);
}
.main-section .main-container .comment-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1em;
  border-radius: 1em;
  padding: 3em;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.main-section .main-container .comment-section h2 {
  font-size: 1em;
  font-weight: bold;
}
.main-section .main-container .comment-section .comments {
  margin-top: 2em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1.5em;
  border-radius: 1em;
  min-width: 1270px;
}
.main-section .main-container .comment-section .comments .cont {
  display: flex;
  justify-content: space-between;
}
.main-section .main-container .comment-section .comments .cont .date {
  font-size: 12px;
  color: rgb(179, 179, 179);
}
.main-section .main-container .comment-section .comments p {
  font-size: 0.85em;
}
.main-section .main-container .comment-section .comments .user-cont {
  display: flex;
}
.main-section .main-container .comment-section .comments .user-cont h2 {
  margin-bottom: 0em;
  margin-right: 1em;
}
.main-section .main-container .comment-section .comments .user-cont .rating {
  margin-top: -0.1em;
}
.main-section .main-container .comment-section .comments .temp-cont {
  display: flex;
  justify-content: center;
}
.main-section .main-container .user-comments {
  margin-top: 2em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1.5em;
  border-radius: 1em;
  min-width: 1070px;
}
.main-section .main-container .user-comments .cont {
  display: flex;
  justify-content: space-between;
}
.main-section .main-container .user-comments .cont .date {
  font-size: 12px;
  color: rgb(179, 179, 179);
}
.main-section .main-container .user-comments p {
  font-size: 0.85em;
}
.main-section .main-container .user-comments .user-cont {
  display: flex;
}
.main-section .main-container .user-comments .user-cont h2 {
  margin-bottom: 0em;
  margin-right: 1em;
}
.main-section .main-container .user-comments .user-cont .rating {
  margin-top: -0.1em;
}
.main-section .main-container .user-comments .temp-cont {
  display: flex;
  justify-content: center;
}
.main-section .main-container .submit-comment {
  margin-top: 2em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2em;
  border-radius: 1em;
  min-width: 1070px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main-section .main-container .submit-comment #submit-close {
  border: none;
  background-color: transparent;
}
.main-section .main-container .submit-comment .submit-close {
  width: 10px;
}
.main-section .main-container .submit-comment .submit-close:hover {
  cursor: pointer;
}
.main-section .main-container .submit-comment input {
  border-radius: 1em;
  width: 1000px;
  border: none;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
}
.main-section .main-container .submit-comment .addComment {
  padding: 0.8em 1.5em 0.8em 1.5em;
  border: none;
  border-radius: 0.7em;
  color: white;
  font-weight: bold;
  font-size: 14px;
  margin-top: 1em;
  background-color: #000000;
}
.main-section .main-container .submit-comment textarea:focus, .main-section .main-container .submit-comment input:focus {
  outline: none;
}
.main-section .main-container .submit-comment .submit-inner-cont {
  display: flex;
}
.main-section .main-container .submit-comment .submit-inner-cont h2 {
  margin-right: 1em;
}
.main-section .main-container .submit-comment .submit-inner-cont .rating-cont {
  margin-top: -0.1em;
}
.main-section .main-container .submit-comment .submit-inner-cont .rating-cont:hover {
  cursor: pointer;
}
.main-section .main-container .img-cont {
  margin-top: 3em;
}
.main-section .main-container .img-cont img {
  border-radius: 0.3em;
}
.main-section .main-container .img-cont img:hover {
  cursor: pointer;
}
.main-section .main-container .img-cont .main-img img {
  width: 550px;
  margin-bottom: 0.5em;
}
.main-section .main-container .img-cont .secondary-img {
  display: flex;
  justify-content: center;
}
.main-section .main-container .img-cont .secondary-img img {
  width: 180px;
  margin-right: 0.3em;
}

.relatedProducts {
  padding: 3em;
}

.relatedProducts-cont {
  display: flex;
  flex-direction: row;
  padding: 3em;
  gap: 5em;
  margin-top: 2em;
}
.relatedProducts-cont img {
  width: 250px;
  border-radius: 0.6em;
}
.relatedProducts-cont .inner-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1.5em;
  border-radius: 1em;
  transition: ease 0.5s;
}
.relatedProducts-cont .inner-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.relatedProducts-cont .button-cont button {
  width: 100%;
  padding: 0.7em;
  border: none;
  border-radius: 0.7em;
  color: white;
  margin-top: 1em;
  background-color: #000000;
}
.relatedProducts-cont .price {
  display: flex;
  gap: 10px;
  margin-top: 1em;
}
.relatedProducts-cont .price h3 {
  font-size: 1.2em;
  font-weight: bold;
}
.relatedProducts-cont .body {
  padding: 0.5em;
}
.relatedProducts-cont .body h2 {
  font-size: 1.6em;
  margin-top: 1em;
}

.backArrow {
  width: 30px;
  height: 30px;
  position: absolute;
  margin-left: 2em;
}
.backArrow:hover {
  cursor: pointer;
}

#open-ham-menu {
  display: none;
}

.close-ham-menu {
  display: none;
  font-size: 2em;
  margin-left: 0.9em;
  margin-top: 0.5em;
  color: white;
  cursor: pointer;
  position: fixed;
  z-index: 10;
}

.ham-cont {
  display: none;
  flex-direction: column;
  padding: 2em;
}
.ham-cont a {
  color: white;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 1em;
}

@media only screen and (max-width: 1700px) {
  #nav-izq button {
    font-size: 15px;
  }
  #nav-ul a {
    font-size: 15px;
  }
  .content-bar h1 {
    font-size: 70px;
  }
  .content-bar .cart-img {
    width: 38px;
  }
  .backarrow {
    width: 38px;
  }
}
@media only screen and (max-width: 1500px) {
  .nav-container {
    padding: 0.5em 5em 0.5em 5em;
  }
  #nav-izq button {
    font-size: 12px;
  }
  #nav-ul a {
    font-size: 13px;
  }
  .cart-img, .backarrow {
    width: 30px;
  }
  .main-container {
    margin-top: -15em;
    transform: scale(0.8);
  }
  footer {
    margin-top: 5em;
  }
  footer p {
    font-size: 11px;
  }
  footer img {
    width: 250px;
  }
}
@media only screen and (max-width: 1070px) {
  .main-container {
    margin-top: -23em;
    transform: scale(0.7);
  }
}
@media only screen and (max-width: 930px) {
  .main-container {
    transform: scale(0.6);
    margin-top: -30em;
    margin-bottom: -35em;
  }
  #nav-izq {
    display: none;
  }
  #nav-ul {
    display: none;
  }
  .nav-container {
    height: 5em;
    padding: 0;
  }
  #no-div {
    position: absolute;
  }
  #open-ham-menu {
    display: block;
  }
  #open-ham-menu .material-symbols-outlined {
    margin-left: 0.7em;
    margin-top: 0.7em;
    font-size: 2em;
  }
  #open-ham-menu .material-symbols-outlined:hover {
    cursor: pointer;
  }
  .ham-menu {
    position: absolute;
    display: none;
    background: rgb(0, 0, 0);
    left: 0;
    height: 555vh;
    width: 20em;
    z-index: 9;
  }
  .ham-cont {
    display: flex;
  }
  .blur {
    filter: blur(10px);
  }
}
@media only screen and (max-width: 810px) {
  .main-container {
    margin-top: -40em;
  }
  .top-cont {
    flex-direction: column;
    justify-content: center;
  }
}/*# sourceMappingURL=products-info.css.map */